@model CST356_lab3.Data.Entities.BootStrap

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Column 1</h3>
                <p><mark><strong> page layout you see.</strong></mark> </p>
                <p>the page have gray back ground and a header</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p><mark><strong>what happens as you resize the page.</strong> </mark></p>
                <p>the page adjusts to the size it comes to, with the graphs and the header</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3>
                <p class="text-justify"><mark><strong>w3schools Getting Started and Grid Basic sections, discover what the CSS classes on the page are doing and describe there use.</strong> </mark></p>
                <p>jumbotron: grey box that enlarges the font sizes of the text inside it.</p>
                <p class="alert-danger">row: places contents in a single row for the display</p>
                <p>text-center: centers the text inside the container and wraps and resizes it as necessary</p>
                <p>container: provides a responsive fixed width container</p>
        </div>
    </div>
</body>
</html>


